body {
    background: linear-gradient(to right, #667eea, #764ba2);
    font-family: Arial;
    color: white;
    text-align: center;
}

.card {
    background: rgba(0, 0, 0, 0.3);
    padding: 30px;
    margin: 100px auto;
    width: 400px;
    border-radius: 12px;
}

code {
    background: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.time {
    font-size: 12px;
    opacity: 0.8;
}
